data/cifar-10-python.tar.gz
data/cifar-10-batches-py/batches.meta
data/cifar-10-batches-py/data_batch_1
data/cifar-10-batches-py/data_batch_2
data/cifar-10-batches-py/data_batch_3
data/cifar-10-batches-py/data_batch_4
data/cifar-10-batches-py/data_batch_5
data/cifar-10-batches-py/readme.html
data/cifar-10-batches-py/test_batch
Evolutionary AI/Traveling Salesman/output/fitness-1.txt
Evolutionary AI/Traveling Salesman/output/fitness-2.txt
Evolutionary AI/Traveling Salesman/output/fitness-3.txt
Evolutionary AI/Traveling Salesman/output/fitness-4.txt
Evolutionary AI/Traveling Salesman/output/fitness-5.txt
Evolutionary AI/Traveling Salesman/output/fitness-6.txt
Evolutionary AI/Traveling Salesman/output/fitness-7.txt
Evolutionary AI/Traveling Salesman/output/fitness-8.txt
Evolutionary AI/Traveling Salesman/output/fitness-9.txt
Evolutionary AI/Traveling Salesman/output/fitness-10.txt
Evolutionary AI/Traveling Salesman/output/fitness-11.txt
Evolutionary AI/Traveling Salesman/output/fitness-12.txt
Evolutionary AI/Traveling Salesman/output/fitness-13.txt
Evolutionary AI/Traveling Salesman/output/fitness-14.txt
Evolutionary AI/Traveling Salesman/output/fitness-15.txt
Evolutionary AI/Traveling Salesman/output/fitness-16.txt
Evolutionary AI/Traveling Salesman/output/fitness-17.txt
Evolutionary AI/Traveling Salesman/output/fitness-18.txt
Evolutionary AI/Traveling Salesman/output/fitness-19.txt
Evolutionary AI/Traveling Salesman/output/fitness-20.txt
Evolutionary AI/Traveling Salesman/output/fitness-21.txt
Evolutionary AI/Traveling Salesman/output/fitness-22.txt
Evolutionary AI/Traveling Salesman/output/fitness-23.txt
Evolutionary AI/Traveling Salesman/output/fitness-24.txt
Evolutionary AI/Traveling Salesman/output/fitness-25.txt
Evolutionary AI/Traveling Salesman/output/fitness-26.txt
Evolutionary AI/Traveling Salesman/output/fitness-27.txt
Evolutionary AI/Traveling Salesman/output/fitness-28.txt
Evolutionary AI/Traveling Salesman/output/fitness-29.txt
Evolutionary AI/Traveling Salesman/output/fitness-30.txt
Evolutionary AI/Traveling Salesman/output/trace-1.png
Evolutionary AI/Traveling Salesman/output/trace-2.png
Evolutionary AI/Traveling Salesman/output/trace-3.png
Evolutionary AI/Traveling Salesman/output/trace-4.png
Evolutionary AI/Traveling Salesman/output/trace-5.png
Evolutionary AI/Traveling Salesman/output/trace-6.png
Evolutionary AI/Traveling Salesman/output/trace-7.png
Evolutionary AI/Traveling Salesman/output/trace-8.png
Evolutionary AI/Traveling Salesman/output/trace-9.png
Evolutionary AI/Traveling Salesman/output/trace-10.png
Evolutionary AI/Traveling Salesman/output/trace-11.png
Evolutionary AI/Traveling Salesman/output/trace-12.png
Evolutionary AI/Traveling Salesman/output/trace-13.png
Evolutionary AI/Traveling Salesman/output/trace-14.png
Evolutionary AI/Traveling Salesman/output/trace-15.png
Evolutionary AI/Traveling Salesman/output/trace-16.png
Evolutionary AI/Traveling Salesman/output/trace-17.png
Evolutionary AI/Traveling Salesman/output/trace-18.png
Evolutionary AI/Traveling Salesman/output/trace-19.png
Evolutionary AI/Traveling Salesman/output/trace-20.png
Evolutionary AI/Traveling Salesman/output/trace-21.png
Evolutionary AI/Traveling Salesman/output/trace-22.png
Evolutionary AI/Traveling Salesman/output/trace-23.png
Evolutionary AI/Traveling Salesman/output/trace-24.png
Evolutionary AI/Traveling Salesman/output/trace-25.png
Evolutionary AI/Traveling Salesman/output/trace-26.png
Evolutionary AI/Traveling Salesman/output/trace-27.png
Evolutionary AI/Traveling Salesman/output/trace-28.png
Evolutionary AI/Traveling Salesman/output/trace-29.png
Evolutionary AI/Traveling Salesman/output/trace-30.png
AILab/Practical Material/d2l.bib
AILab/Practical Material/index.ipynb
AILab/Practical Material/setup.py
AILab/Practical Material/chapter_appendix-mathematics-for-deep-learning/distributions.ipynb
AILab/Practical Material/chapter_appendix-mathematics-for-deep-learning/eigendecomposition.ipynb
AILab/Practical Material/chapter_appendix-mathematics-for-deep-learning/geometry-linear-algebraic-ops.ipynb
AILab/Practical Material/chapter_appendix-mathematics-for-deep-learning/index.ipynb
AILab/Practical Material/chapter_appendix-mathematics-for-deep-learning/information-theory.ipynb
AILab/Practical Material/chapter_appendix-mathematics-for-deep-learning/integral-calculus.ipynb
AILab/Practical Material/chapter_appendix-mathematics-for-deep-learning/maximum-likelihood.ipynb
AILab/Practical Material/chapter_appendix-mathematics-for-deep-learning/multivariable-calculus.ipynb
AILab/Practical Material/chapter_appendix-mathematics-for-deep-learning/naive-bayes.ipynb
AILab/Practical Material/chapter_appendix-mathematics-for-deep-learning/random-variables.ipynb
AILab/Practical Material/chapter_appendix-mathematics-for-deep-learning/single-variable-calculus.ipynb
AILab/Practical Material/chapter_appendix-mathematics-for-deep-learning/statistics.ipynb
AILab/Practical Material/chapter_appendix-mathematics-for-deep-learning/temp/MNIST/processed/test.pt
AILab/Practical Material/chapter_appendix-mathematics-for-deep-learning/temp/MNIST/processed/training.pt
AILab/Practical Material/chapter_appendix-mathematics-for-deep-learning/temp/MNIST/raw/t10k-images-idx3-ubyte
AILab/Practical Material/chapter_appendix-mathematics-for-deep-learning/temp/MNIST/raw/t10k-images-idx3-ubyte.gz
AILab/Practical Material/chapter_appendix-mathematics-for-deep-learning/temp/MNIST/raw/t10k-labels-idx1-ubyte
AILab/Practical Material/chapter_appendix-mathematics-for-deep-learning/temp/MNIST/raw/t10k-labels-idx1-ubyte.gz
AILab/Practical Material/chapter_appendix-mathematics-for-deep-learning/temp/MNIST/raw/train-images-idx3-ubyte
AILab/Practical Material/chapter_appendix-mathematics-for-deep-learning/temp/MNIST/raw/train-images-idx3-ubyte.gz
AILab/Practical Material/chapter_appendix-mathematics-for-deep-learning/temp/MNIST/raw/train-labels-idx1-ubyte
AILab/Practical Material/chapter_appendix-mathematics-for-deep-learning/temp/MNIST/raw/train-labels-idx1-ubyte.gz
AILab/Practical Material/chapter_appendix-tools-for-deep-learning/aws.ipynb
AILab/Practical Material/chapter_appendix-tools-for-deep-learning/colab.ipynb
AILab/Practical Material/chapter_appendix-tools-for-deep-learning/contributing.ipynb
AILab/Practical Material/chapter_appendix-tools-for-deep-learning/d2l.ipynb
AILab/Practical Material/chapter_appendix-tools-for-deep-learning/index.ipynb
AILab/Practical Material/chapter_appendix-tools-for-deep-learning/jupyter.ipynb
AILab/Practical Material/chapter_appendix-tools-for-deep-learning/sagemaker.ipynb
AILab/Practical Material/chapter_appendix-tools-for-deep-learning/selecting-servers-gpus.ipynb
AILab/Practical Material/chapter_attention-mechanisms/attention-cues.ipynb
AILab/Practical Material/chapter_attention-mechanisms/attention-scoring-functions.ipynb
AILab/Practical Material/chapter_attention-mechanisms/bahdanau-attention.ipynb
AILab/Practical Material/chapter_attention-mechanisms/index.ipynb
AILab/Practical Material/chapter_attention-mechanisms/multihead-attention.ipynb
AILab/Practical Material/chapter_attention-mechanisms/nadaraya-watson.ipynb
AILab/Practical Material/chapter_attention-mechanisms/self-attention-and-positional-encoding.ipynb
AILab/Practical Material/chapter_attention-mechanisms/transformer.ipynb
AILab/Practical Material/chapter_attention-mechanisms/.ipynb_checkpoints/attention-cues-checkpoint.ipynb
AILab/Practical Material/chapter_attention-mechanisms/.ipynb_checkpoints/nadaraya-watson-checkpoint.ipynb
AILab/Practical Material/chapter_attention-mechanisms/d2l/__init__.py
AILab/Practical Material/chapter_attention-mechanisms/d2l/torch.py
AILab/Practical Material/chapter_attention-mechanisms/d2l/__pycache__/__init__.cpython-38.pyc
AILab/Practical Material/chapter_attention-mechanisms/d2l/__pycache__/torch.cpython-38.pyc
AILab/Practical Material/chapter_computational-performance/async-computation.ipynb
AILab/Practical Material/chapter_computational-performance/auto-parallelism.ipynb
AILab/Practical Material/chapter_computational-performance/hardware.ipynb
AILab/Practical Material/chapter_computational-performance/hybridize.ipynb
AILab/Practical Material/chapter_computational-performance/index.ipynb
AILab/Practical Material/chapter_computational-performance/multiple-gpus-concise.ipynb
AILab/Practical Material/chapter_computational-performance/multiple-gpus.ipynb
AILab/Practical Material/chapter_computational-performance/my_mlp
AILab/Practical Material/chapter_computational-performance/parameterserver.ipynb
AILab/Practical Material/chapter_computer-vision/anchor.ipynb
AILab/Practical Material/chapter_computer-vision/bounding-box.ipynb
AILab/Practical Material/chapter_computer-vision/fcn.ipynb
AILab/Practical Material/chapter_computer-vision/fine-tuning.ipynb
AILab/Practical Material/chapter_computer-vision/image-augmentation.ipynb
AILab/Practical Material/chapter_computer-vision/index.ipynb
AILab/Practical Material/chapter_computer-vision/kaggle-cifar10.ipynb
AILab/Practical Material/chapter_computer-vision/kaggle-dog.ipynb
AILab/Practical Material/chapter_computer-vision/multiscale-object-detection.ipynb
AILab/Practical Material/chapter_computer-vision/neural-style.ipynb
AILab/Practical Material/chapter_computer-vision/object-detection-dataset.ipynb
AILab/Practical Material/chapter_computer-vision/rcnn.ipynb
AILab/Practical Material/chapter_computer-vision/semantic-segmentation-and-dataset.ipynb
AILab/Practical Material/chapter_computer-vision/ssd.ipynb
AILab/Practical Material/chapter_computer-vision/submission.csv
AILab/Practical Material/chapter_computer-vision/transposed-conv.ipynb
AILab/Practical Material/chapter_convolutional-modern/alexnet.ipynb
AILab/Practical Material/chapter_convolutional-modern/batch-norm.ipynb
AILab/Practical Material/chapter_convolutional-modern/densenet.ipynb
AILab/Practical Material/chapter_convolutional-modern/googlenet.ipynb
AILab/Practical Material/chapter_convolutional-modern/index.ipynb
AILab/Practical Material/chapter_convolutional-modern/nin.ipynb
AILab/Practical Material/chapter_convolutional-modern/resnet.ipynb
AILab/Practical Material/chapter_convolutional-modern/vgg.ipynb
AILab/Practical Material/chapter_convolutional-neural-networks/channels.ipynb
AILab/Practical Material/chapter_convolutional-neural-networks/conv-layer.ipynb
AILab/Practical Material/chapter_convolutional-neural-networks/index.ipynb
AILab/Practical Material/chapter_convolutional-neural-networks/lenet.ipynb
AILab/Practical Material/chapter_convolutional-neural-networks/padding-and-strides.ipynb
AILab/Practical Material/chapter_convolutional-neural-networks/pooling.ipynb
AILab/Practical Material/chapter_convolutional-neural-networks/why-conv.ipynb
AILab/Practical Material/chapter_deep-learning-computation/custom-layer.ipynb
AILab/Practical Material/chapter_deep-learning-computation/deferred-init.ipynb
AILab/Practical Material/chapter_deep-learning-computation/index.ipynb
AILab/Practical Material/chapter_deep-learning-computation/mlp.params
AILab/Practical Material/chapter_deep-learning-computation/model-construction.ipynb
AILab/Practical Material/chapter_deep-learning-computation/mydict
AILab/Practical Material/chapter_deep-learning-computation/parameters.ipynb
AILab/Practical Material/chapter_deep-learning-computation/read-write.ipynb
AILab/Practical Material/chapter_deep-learning-computation/use-gpu.ipynb
AILab/Practical Material/chapter_deep-learning-computation/x-file
AILab/Practical Material/chapter_deep-learning-computation/x-files
AILab/Practical Material/chapter_generative-adversarial-networks/dcgan.ipynb
AILab/Practical Material/chapter_generative-adversarial-networks/gan.ipynb
AILab/Practical Material/chapter_generative-adversarial-networks/index.ipynb
AILab/Practical Material/chapter_installation/index.ipynb
AILab/Practical Material/chapter_introduction/index.ipynb
AILab/Practical Material/chapter_linear-networks/image-classification-dataset.ipynb
AILab/Practical Material/chapter_linear-networks/index.ipynb
AILab/Practical Material/chapter_linear-networks/linear-regression-concise.ipynb
AILab/Practical Material/chapter_linear-networks/linear-regression-scratch.ipynb
AILab/Practical Material/chapter_linear-networks/linear-regression.ipynb
AILab/Practical Material/chapter_linear-networks/softmax-regression-concise.ipynb
AILab/Practical Material/chapter_linear-networks/softmax-regression-scratch.ipynb
AILab/Practical Material/chapter_linear-networks/softmax-regression.ipynb
AILab/Practical Material/chapter_multilayer-perceptrons/backprop.ipynb
AILab/Practical Material/chapter_multilayer-perceptrons/dropout.ipynb
AILab/Practical Material/chapter_multilayer-perceptrons/environment.ipynb
AILab/Practical Material/chapter_multilayer-perceptrons/index.ipynb
AILab/Practical Material/chapter_multilayer-perceptrons/kaggle-house-price.ipynb
AILab/Practical Material/chapter_multilayer-perceptrons/mlp-concise.ipynb
AILab/Practical Material/chapter_multilayer-perceptrons/mlp-scratch.ipynb
AILab/Practical Material/chapter_multilayer-perceptrons/mlp.ipynb
AILab/Practical Material/chapter_multilayer-perceptrons/numerical-stability-and-init.ipynb
AILab/Practical Material/chapter_multilayer-perceptrons/submission.csv
AILab/Practical Material/chapter_multilayer-perceptrons/underfit-overfit.ipynb
AILab/Practical Material/chapter_multilayer-perceptrons/weight-decay.ipynb
AILab/Practical Material/chapter_natural-language-processing-applications/finetuning-bert.ipynb
AILab/Practical Material/chapter_natural-language-processing-applications/index.ipynb
AILab/Practical Material/chapter_natural-language-processing-applications/natural-language-inference-and-dataset.ipynb
AILab/Practical Material/chapter_natural-language-processing-applications/natural-language-inference-attention.ipynb
AILab/Practical Material/chapter_natural-language-processing-applications/natural-language-inference-bert.ipynb
AILab/Practical Material/chapter_natural-language-processing-applications/sentiment-analysis-and-dataset.ipynb
AILab/Practical Material/chapter_natural-language-processing-applications/sentiment-analysis-cnn.ipynb
AILab/Practical Material/chapter_natural-language-processing-applications/sentiment-analysis-rnn.ipynb
AILab/Practical Material/chapter_natural-language-processing-pretraining/approx-training.ipynb
AILab/Practical Material/chapter_natural-language-processing-pretraining/bert-dataset.ipynb
AILab/Practical Material/chapter_natural-language-processing-pretraining/bert-pretraining.ipynb
AILab/Practical Material/chapter_natural-language-processing-pretraining/bert.ipynb
AILab/Practical Material/chapter_natural-language-processing-pretraining/glove.ipynb
AILab/Practical Material/chapter_natural-language-processing-pretraining/index.ipynb
AILab/Practical Material/chapter_natural-language-processing-pretraining/similarity-analogy.ipynb
AILab/Practical Material/chapter_natural-language-processing-pretraining/subword-embedding.ipynb
AILab/Practical Material/chapter_natural-language-processing-pretraining/word-embedding-dataset.ipynb
AILab/Practical Material/chapter_natural-language-processing-pretraining/word2vec-pretraining.ipynb
AILab/Practical Material/chapter_natural-language-processing-pretraining/word2vec.ipynb
AILab/Practical Material/chapter_notation/index.ipynb
AILab/Practical Material/chapter_optimization/adadelta.ipynb
AILab/Practical Material/chapter_optimization/adagrad.ipynb
AILab/Practical Material/chapter_optimization/adam.ipynb
AILab/Practical Material/chapter_optimization/convexity.ipynb
AILab/Practical Material/chapter_optimization/gd.ipynb
AILab/Practical Material/chapter_optimization/index.ipynb
AILab/Practical Material/chapter_optimization/lr-scheduler.ipynb
AILab/Practical Material/chapter_optimization/minibatch-sgd.ipynb
AILab/Practical Material/chapter_optimization/momentum.ipynb
AILab/Practical Material/chapter_optimization/optimization-intro.ipynb
AILab/Practical Material/chapter_optimization/rmsprop.ipynb
AILab/Practical Material/chapter_optimization/sgd.ipynb
AILab/Practical Material/chapter_preface/index.ipynb
AILab/Practical Material/chapter_preliminaries/autograd.ipynb
AILab/Practical Material/chapter_preliminaries/calculus.ipynb
AILab/Practical Material/chapter_preliminaries/index.ipynb
AILab/Practical Material/chapter_preliminaries/linear-algebra.ipynb
AILab/Practical Material/chapter_preliminaries/lookup-api.ipynb
AILab/Practical Material/chapter_preliminaries/ndarray.ipynb
AILab/Practical Material/chapter_preliminaries/pandas.ipynb
AILab/Practical Material/chapter_preliminaries/probability.ipynb
AILab/Practical Material/chapter_recommender-systems/autorec.ipynb
AILab/Practical Material/chapter_recommender-systems/ctr.ipynb
AILab/Practical Material/chapter_recommender-systems/deepfm.ipynb
AILab/Practical Material/chapter_recommender-systems/fm.ipynb
AILab/Practical Material/chapter_recommender-systems/index.ipynb
AILab/Practical Material/chapter_recommender-systems/mf.ipynb
AILab/Practical Material/chapter_recommender-systems/movielens.ipynb
AILab/Practical Material/chapter_recommender-systems/neumf.ipynb
AILab/Practical Material/chapter_recommender-systems/ranking.ipynb
AILab/Practical Material/chapter_recommender-systems/recsys-intro.ipynb
AILab/Practical Material/chapter_recommender-systems/seqrec.ipynb
AILab/Practical Material/chapter_recurrent-modern/beam-search.ipynb
AILab/Practical Material/chapter_recurrent-modern/bi-rnn.ipynb
AILab/Practical Material/chapter_recurrent-modern/deep-rnn.ipynb
AILab/Practical Material/chapter_recurrent-modern/encoder-decoder.ipynb
AILab/Practical Material/chapter_recurrent-modern/gru.ipynb
AILab/Practical Material/chapter_recurrent-modern/index.ipynb
AILab/Practical Material/chapter_recurrent-modern/lstm.ipynb
AILab/Practical Material/chapter_recurrent-modern/machine-translation-and-dataset.ipynb
AILab/Practical Material/chapter_recurrent-modern/seq2seq.ipynb
AILab/Practical Material/chapter_recurrent-neural-networks/bptt.ipynb
AILab/Practical Material/chapter_recurrent-neural-networks/index.ipynb
AILab/Practical Material/chapter_recurrent-neural-networks/language-models-and-dataset.ipynb
AILab/Practical Material/chapter_recurrent-neural-networks/rnn-concise.ipynb
AILab/Practical Material/chapter_recurrent-neural-networks/rnn-scratch.ipynb
AILab/Practical Material/chapter_recurrent-neural-networks/rnn.ipynb
AILab/Practical Material/chapter_recurrent-neural-networks/sequence.ipynb
AILab/Practical Material/chapter_recurrent-neural-networks/text-preprocessing.ipynb
AILab/Practical Material/chapter_references/zreferences.ipynb
AILab/Practical Material/d2l/__init__.py
AILab/Practical Material/d2l/torch.py
AILab/Practical Material/d2l/__pycache__/__init__.cpython-38.pyc
AILab/Practical Material/d2l/__pycache__/torch.cpython-38.pyc
AILab/Practical Material/img/a77.svg
AILab/Practical Material/img/alexnet-original.svg
AILab/Practical Material/img/alexnet.svg
AILab/Practical Material/img/anchor-label.svg
AILab/Practical Material/img/asyncgraph.svg
AILab/Practical Material/img/attention-output.svg
AILab/Practical Material/img/attention.svg
AILab/Practical Material/img/autumn-oak.jpg
AILab/Practical Material/img/aws.png
AILab/Practical Material/img/banana.jpg
AILab/Practical Material/img/beam-search.svg
AILab/Practical Material/img/bert-input.svg
AILab/Practical Material/img/bert-one-seq.svg
AILab/Practical Material/img/bert-qa.svg
AILab/Practical Material/img/bert-tagging.svg
AILab/Practical Material/img/bert-two-seqs.svg
AILab/Practical Material/img/birnn.svg
AILab/Practical Material/img/blocks.svg
AILab/Practical Material/img/book-org.svg
AILab/Practical Material/img/bw-hierarchy.svg
AILab/Practical Material/img/capacity-vs-error.svg
AILab/Practical Material/img/cat-dog-pixels.png
AILab/Practical Material/img/cat-dog-test.svg
AILab/Practical Material/img/cat-dog-train.svg
AILab/Practical Material/img/cat1.jpg
AILab/Practical Material/img/cat2.jpg
AILab/Practical Material/img/cat3.jpg
AILab/Practical Material/img/catdog.jpg
AILab/Practical Material/img/cbow.svg
AILab/Practical Material/img/chain-net1.svg
AILab/Practical Material/img/chain-net2.svg
AILab/Practical Material/img/chmod.png
AILab/Practical Material/img/cnn-rnn-self-attention.svg
AILab/Practical Material/img/colab-2.png
AILab/Practical Material/img/colab.png
AILab/Practical Material/img/computegraph.svg
AILab/Practical Material/img/connect.png
AILab/Practical Material/img/contribute.svg
AILab/Practical Material/img/conv-1x1.svg
AILab/Practical Material/img/conv-multi-in.svg
AILab/Practical Material/img/conv-pad.svg
AILab/Practical Material/img/conv-stride.svg
AILab/Practical Material/img/conv1d-2d.svg
AILab/Practical Material/img/conv1d-channel.svg
AILab/Practical Material/img/conv1d.svg
AILab/Practical Material/img/convex-intersect.svg
AILab/Practical Material/img/copyto.svg
AILab/Practical Material/img/correlation.svg
AILab/Practical Material/img/cuda101.png
AILab/Practical Material/img/data-collection.svg
AILab/Practical Material/img/data-parallel.svg
AILab/Practical Material/img/death-cap.jpg
AILab/Practical Material/img/deep-rnn.svg
AILab/Practical Material/img/deeplearning-amazon.jpg
AILab/Practical Material/img/densenet-block.svg
AILab/Practical Material/img/densenet.svg
AILab/Practical Material/img/disk.png
AILab/Practical Material/img/dog1.jpg
AILab/Practical Material/img/dog2.jpg
AILab/Practical Material/img/dropout2.svg
AILab/Practical Material/img/ec2.png
AILab/Practical Material/img/edit-file.png
AILab/Practical Material/img/elmo-gpt-bert.svg
AILab/Practical Material/img/encoder-decoder.svg
AILab/Practical Material/img/eye-book.png
AILab/Practical Material/img/eye-book.svg
AILab/Practical Material/img/eye-coffee.png
AILab/Practical Material/img/eye-coffee.svg
AILab/Practical Material/img/falsesharing.svg
AILab/Practical Material/img/fast-rcnn.svg
AILab/Practical Material/img/faster-rcnn.svg
AILab/Practical Material/img/fcn.svg
AILab/Practical Material/img/filters.png
AILab/Practical Material/img/finetune.svg
AILab/Practical Material/img/fit-linreg.svg
AILab/Practical Material/img/flopsvsprice.svg
AILab/Practical Material/img/forward.svg
AILab/Practical Material/img/frontends.png
AILab/Practical Material/img/frontends.svg
AILab/Practical Material/img/ftse100.png
AILab/Practical Material/img/functionclasses.svg
AILab/Practical Material/img/gan.svg
AILab/Practical Material/img/git-clone.png
AILab/Practical Material/img/git-createpr.png
AILab/Practical Material/img/git-fork.png
AILab/Practical Material/img/git-forked.png
AILab/Practical Material/img/git-newpr.png
AILab/Practical Material/img/grid-points.svg
AILab/Practical Material/img/grid-transform-filled.svg
AILab/Practical Material/img/grid-transform.svg
AILab/Practical Material/img/gru-1.svg
AILab/Practical Material/img/gru-2.svg
AILab/Practical Material/img/gru-3.svg
AILab/Practical Material/img/hi-softmax.svg
AILab/Practical Material/img/hmm.svg
AILab/Practical Material/img/house-pricing.png
AILab/Practical Material/img/inception-full.svg
AILab/Practical Material/img/inception.svg
AILab/Practical Material/img/iou.svg
AILab/Practical Material/img/jupyter.png
AILab/Practical Material/img/jupyter00.png
AILab/Practical Material/img/jupyter01.png
AILab/Practical Material/img/jupyter02.png
AILab/Practical Material/img/jupyter03.png
AILab/Practical Material/img/jupyter04.png
AILab/Practical Material/img/jupyter05.png
AILab/Practical Material/img/jupyter06.png
AILab/Practical Material/img/kaggle-cifar10.png
AILab/Practical Material/img/kaggle-dog.jpg
AILab/Practical Material/img/kaggle-submit2.png
AILab/Practical Material/img/kaggle.png
AILab/Practical Material/img/keypair.png
AILab/Practical Material/img/koebel.jpg
AILab/Practical Material/img/latencynumbers.png
AILab/Practical Material/img/launching.png
AILab/Practical Material/img/lenet-vert.svg
AILab/Practical Material/img/lenet.svg
AILab/Practical Material/img/limits.png
AILab/Practical Material/img/lstm-0.svg
AILab/Practical Material/img/lstm-1.svg
AILab/Practical Material/img/lstm-2.svg
AILab/Practical Material/img/lstm-3.svg
AILab/Practical Material/img/marginal.svg
AILab/Practical Material/img/mask-rcnn.svg
AILab/Practical Material/img/miniconda.png
AILab/Practical Material/img/ml-loop.svg
AILab/Practical Material/img/mlp.svg
AILab/Practical Material/img/mobo-symbol.svg
AILab/Practical Material/img/multi-head-attention.svg
AILab/Practical Material/img/mutual-information.svg
AILab/Practical Material/img/negSecDer.svg
AILab/Practical Material/img/neon128.svg
AILab/Practical Material/img/neural-style.svg
AILab/Practical Material/img/neuron.svg
AILab/Practical Material/img/nin.svg
AILab/Practical Material/img/nli_attention.svg
AILab/Practical Material/img/nli-attention.svg
AILab/Practical Material/img/nlp-map-app.svg
AILab/Practical Material/img/nlp-map-nli-attention.svg
AILab/Practical Material/img/nlp-map-nli-bert.svg
AILab/Practical Material/img/nlp-map-pretrain.svg
AILab/Practical Material/img/nlp-map-sa-cnn.svg
AILab/Practical Material/img/nlp-map-sa-rnn.svg
AILab/Practical Material/img/nonconvex.svg
AILab/Practical Material/img/nvlink-twoloop.svg
AILab/Practical Material/img/nvlink.svg
AILab/Practical Material/img/p2x.png
AILab/Practical Material/img/pacman.svg
AILab/Practical Material/img/par-vec.svg
AILab/Practical Material/img/pikachu.jpg
AILab/Practical Material/img/polygon-circle.svg
AILab/Practical Material/img/pooling.svg
AILab/Practical Material/img/popvssoda.png
AILab/Practical Material/img/posSecDer.svg
AILab/Practical Material/img/proj-vec.svg
AILab/Practical Material/img/projections.svg
AILab/Practical Material/img/ps-distributed.svg
AILab/Practical Material/img/ps-multimachine.svg
AILab/Practical Material/img/ps-multips.svg
AILab/Practical Material/img/ps.svg
AILab/Practical Material/img/qkv.svg
AILab/Practical Material/img/r-cnn.svg
AILab/Practical Material/img/rainier.jpg
AILab/Practical Material/img/rec-caser.svg
AILab/Practical Material/img/rec-deepfm.svg
AILab/Practical Material/img/rec-intro.svg
AILab/Practical Material/img/rec-mf.svg
AILab/Practical Material/img/rec-neumf.svg
AILab/Practical Material/img/rec-ranking.svg
AILab/Practical Material/img/rec-seq-data.svg
AILab/Practical Material/img/rect-trans.svg
AILab/Practical Material/img/residual-block.svg
AILab/Practical Material/img/resnet-block.svg
AILab/Practical Material/img/resnet18.svg
AILab/Practical Material/img/ringsync.svg
AILab/Practical Material/img/rl-environment.svg
AILab/Practical Material/img/rnn-bptt.svg
AILab/Practical Material/img/rnn-train.svg
AILab/Practical Material/img/rnn.svg
AILab/Practical Material/img/roi.svg
AILab/Practical Material/img/s2s-prob1.svg
AILab/Practical Material/img/s2s-prob2.svg
AILab/Practical Material/img/sagemaker-create-2.png
AILab/Practical Material/img/sagemaker-create-3.png
AILab/Practical Material/img/sagemaker-create.png
AILab/Practical Material/img/sagemaker-jupyter.png
AILab/Practical Material/img/sagemaker-open.png
AILab/Practical Material/img/sagemaker-stop.png
AILab/Practical Material/img/sagemaker-terminal.png
AILab/Practical Material/img/sagemaker.png
AILab/Practical Material/img/segmentation.svg
AILab/Practical Material/img/self-attention.svg
AILab/Practical Material/img/seq2seq-attention-details.svg
AILab/Practical Material/img/seq2seq-attention.svg
AILab/Practical Material/img/seq2seq-details.svg
AILab/Practical Material/img/seq2seq-predict.svg
AILab/Practical Material/img/seq2seq.svg
AILab/Practical Material/img/sequence-model.svg
AILab/Practical Material/img/singleneuron.svg
AILab/Practical Material/img/skip-gram.svg
AILab/Practical Material/img/skylake.svg
AILab/Practical Material/img/softmaxreg.svg
AILab/Practical Material/img/space-division-3d.svg
AILab/Practical Material/img/space-division.svg
AILab/Practical Material/img/speech.png
AILab/Practical Material/img/splitting.svg
AILab/Practical Material/img/ssd.svg
AILab/Practical Material/img/stackedanimals.png
AILab/Practical Material/img/statistical-significance.svg
AILab/Practical Material/img/style-transfer.svg
AILab/Practical Material/img/sub-area.svg
AILab/Practical Material/img/sum-order.svg
AILab/Practical Material/img/supervised-learning.svg
AILab/Practical Material/img/tensorcore.jpg
AILab/Practical Material/img/textcnn.svg
AILab/Practical Material/img/threading.svg
AILab/Practical Material/img/timemachine-5gram.svg
AILab/Practical Material/img/trans_conv_stride2.svg
AILab/Practical Material/img/trans_conv.svg
AILab/Practical Material/img/transformer.svg
AILab/Practical Material/img/truncated-bptt.svg
AILab/Practical Material/img/turing-processing-block.png
AILab/Practical Material/img/turing.png
AILab/Practical Material/img/twogpu.svg
AILab/Practical Material/img/ubuntu-new.png
AILab/Practical Material/img/vec-add.svg
AILab/Practical Material/img/vec-angle.svg
AILab/Practical Material/img/vgg.svg
AILab/Practical Material/img/wake-word.svg
AILab/Practical Material/img/waldo-mask.jpg
AILab/Practical Material/img/wattvsprice.svg
AILab/Practical Material/img/where-wally-walker-books.jpg
AILab/Practical Material/img/zeroSecDer.svg
*.pth